.item-card {
    display: flex;
    margin: 1em;
    padding: 1em;
    max-height: 15em;
    border: solid 1px #000;
    border-radius: 0.5em;
    position: relative;
}

.item-photo {
    height: 13em;
    border-radius: 0.5em;
}

.info {
    margin-left: 1em;
}

.item-name {
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: bold;
}

.details {
    font-size: 2em;
}

.common-button {
    position: absolute;
    bottom: 1em;
    right: 0em;
}