.product {
    position: relative;
    margin: 1em;
    padding: 1em;
    border: solid 1px #000;
    border-radius: 0.5em;
    display: flex;
}

.text {
    margin-left: 1em;
    font-size: 2em;
}

.item-name {
    font-weight: bold;
    font-size: 1.5em;
}

.item-img {
    width: 20em;
    border-radius: 0.5em;
}

.common-button, .delete-button {
    position: absolute;
}

.common-button {
    right: 0em;
    bottom: 5em;
}

.delete-button {
    right: 0em;
    bottom: 1em;
}